version: '3.8'

services:
  task-runner:
    image: hummingbot/quants-lab:latest
    volumes:
      - .:/quants-lab
      - ./config:/quants-lab/config
      - ./outputs:/quants-lab/outputs
      - ./app/data:/quants-lab/app/data
    build: .
    env_file:
      - .env
    networks:
      - quants_app_net # Connect to the pre-defined external network
    command: conda run --no-capture-output -n quants-lab python cli.py run-tasks --config ${TASK_CONFIG:-config/orderbook_snapshot_gateio.yml}
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
    logging:
      driver: "json-file"
      options:
        max-size: "200m"
        max-file: "10"

networks:
  # Remove the old mongodb_network definition if it was here
  quants_app_net:
    external: true
    name: quants_lab_shared_network # Must match the name defined in docker-compose-db.yml
